/* CSS Document */
body{
	margin:0px;
	padding:0px;
	/* background-color:#ac1701; by farhad*/ 
	background-image:url(../../../images/back_in.jpg);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	text-align:center;

}